/* Main Search page styles  */

.main {
    width: 70%;
    padding: 10px;
    margin: auto;
    margin-top: 15%;
    
}

.main > .google_logo {
    width: 272px;
    margin: auto;

}

.search_input {
    width: 80%;
    margin: auto;

}

.search_input > input {
    border-radius: 20px;
    width: 96%;
    padding: 10px;
    margin: 1px;
    height: 20px;
    border: 1px solid #bcc3c5cb;
    outline: none;
    font-size: 18px;
    color: rgb(71, 69, 69)

}

.buttons {
    width: 50%;
    padding: 15px 0 15px 250px;
    margin: auto;
    
}

.buttons > input {
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    color: #474545;
    cursor: default;
    font-size: 14px;
    width: 130px;
    height: 35px;
    margin-right: 6px;

}



/* Links to Images and Advanced Search links styles */

.top_right_links {
    padding: 20px;
    margin: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
    
}

.images_link > a, .advanced_link > a, .back_link > a {
    color: #757575;
}



/* Images Search page styles */

.images_title {
    color: #4285f4;
    font: 16px arial, sans-serif;
    position: relative;
    left: 105px;
    top: -20px;
    white-space: nowrap;
    text-align: center;

}

.buttons > input[value="Google Images"] {
    width: 25%;
    margin-left: 13%;
    flex-wrap: wrap;
}   

.back_link {
    padding: 10px;
    margin: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
    text-decoration: underline;
}


