
.google_logo {
    text-align: center;
    margin-top: 250px;
}


form {
    text-align: center; 

}

input {
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    height: 20px;
    width: 500px;
    border:1px solid #bcc3c5cb;
    outline: none;
    font-size: 18px;
    color: rgb(71, 69, 69)

}

input[type="submit"] {
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    height: 42px;

}

.search_links, .back_link {
    padding: 20px;
    margin: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
    
}

a {
    color: #757575;

}

/* Images Search page style */

.images_title {
    color: #4285f4;
    font: 16px arial, sans-serif;
    position: relative;
    left: 105px;
    top: -20px;
    white-space: nowrap;
    text-align: center;

}

/* Advanced Search page style */

.small_google_logo {
    padding: 15px 10px;
}

.adv_search_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #d93025;
    margin: 25px 35px;
}

.title_find {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 100px 50px 10px;
}

.adv_forms > label {
    float: left;
    text-align: left;
    width: 16%;
    color: #222;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 13px 0 0 50px;
    
}

.adv_forms > input {
    width: 400px;
    border-radius: 1px;
    font-size: 13px;
    text-align: left;
    border-top: 1px solid #c0c0c0;

}


.adv_seach_button > input{
    background-color: rgb(9, 137, 241);
    height:36px;
    width:150px;
    color: white;
    font-size: 13px;
    margin-top: 25px;
    margin-left: 350px;
     
}

 
